.home {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  padding: 2rem 0;
}

@media (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr;
  }
}
